.container
  .row.justify-content-center#posts
    - @posts.each do |day, posts|
      .col-md-8.post-day
        %h3
          = fa_icon "calendar"
          = day
      - posts.each do |post|
        .col-md-8
          %p
            %h2= link_to(post.title, post)
            %p= sanitize(post.content, tags: %w(strong p a i em), attributes: %w(href target))
