/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require gritter
 *= require _bootstrap.scss
 *= require font-awesome.scss
 *= require_self
 */

/* Header menu */

body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f6f6;
}

header {
  padding: 0;
  top: 0px;
  overflow: auto;
  z-index: 100;
  width: 100%;
  background-color: #c00;
  border-bottom: 1px solid #a30000;
  color: #fff;
}
header h1 {
  font-size: 25px;
  padding: 10px;
  margin-top: 2px;
}
header ul {
  list-style: none;
  margin-top: 15px;
  text-align: right;
}
header ul li {
  display: inline;
  font-size: 20px;
}
header a, header a:hover {
  color: #fff;
  text-decoration: none;
}
header li a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
header li a:hover {
  color: #c00;
  background: #fff;
  text-decoration: none;
}
header i {
  padding-right: 4px;
}
div#posts h2 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: "proxima-nova", ubuntu, "helvetica neue", helvetica, sans-serif;
}

div#posts a {
  text-decoration: none;
  color: #222;
}
div#posts a:hover {
  text-decoration: underline;
  color: #c00;
}

div#post h1 {
  background-color: inherit;
  display: block;
  font-size: 2em;
  line-height: 1.3em;
  margin-left: -1px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  margin-top: 0.2em;
  padding: 0px;
  font-family: proxima-nova, ubuntu, "helvetica neue", helvetica, sans-serif;
  orphans: 3;
}
div#post p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 1em 0px 2em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: proxima-nova, ubuntu, "helvetica neue", helvetica, sans-serif, "Droid Sans Mono", Cousinex, "Liberation Monox", "Source Code Prox", "Input Monox", Menlo, Consolas, "Ubuntu Mono", monospace;
  color: rgb(66, 66, 66);
}

div#post span.meta {
  color: rgb(187, 187, 187);
  font-size: 0.9em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-top: 4px;
}
div#post span.meta span {
  color: rgb(102, 102, 102);
}
.post-day {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  text-align: left;
}
.post-day h3 {
  color: #999;
  font-size: 1.0em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}
.post-day i {
  padding-right: 5px;
}
div#posts {
  margin-top: 20px;
}

div#posts p a, #post a {
  color: #c00;
  text-decoration: underline;
}
form#new_post, form.edit_post {
  background-color: #eee;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid #ccc;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-top: 20px;
  margin-bottom: 40px;
}
form#new_post h2, form.edit_post h2, form#new_comment h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #424242;
  font-weight: normal;
  margin-bottom: 10px;
}
form#new_post input[type='submit'], form.edit_post input[type='submit'], form#new_comment input[type='submit'] {
  cursor: pointer;
  padding: 2px 24px;
  font-size: 1.3em;
  font-family: "proxima-nova", ubuntu, "helvetica neue", helvetica, sans-serif, "Droid Sans Mono", "Cousinex", "Liberation Monox", "Source Code Prox", "Input Monox", Menlo, Consolas, "Ubuntu Mono", monospace;
  line-height: 1.4em;
  font-weight: normal;
  background-color: #c00;
  color: #fff;
  border: 0;
  border-radius: 12px;
  margin-bottom: 8px;
  float: right;
}
form#new_post img, form.edit_post img {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0px solid transparent;
  margin-top: 8px;
  background-size: cover;
}
#posts img, #post img {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0px solid transparent;
  margin-top: 15px;
  background-size: cover;
}
#posts span.meta a {
  text-decoration: none;
  color: rgb(187, 187, 187);
  font-size: 0.9em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-top: 4px;
  color: rgb(102, 102, 102);
}
#comments {
  margin-bottom: 20px;
}
#comments h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #424242;
  font-weight: normal;
  margin-bottom: 10px;
}
#comments p {
  background: #fff;
  padding: 15px;
}
#comments span.author {
  color: #666;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: -8px;
  display: block;
}
